/* Add screen styles below */

html {
    width: 100%;
    height: 100%;
    background-color: #333136;
    display: flex;
    justify-content: center;
    font-family: 'Space Mono', monospace;
}

body {
    width: 50%;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #e9e8ee;
    font-size: 3.5rem;
    margin: 4rem 0 0 0;
}

p {
    color: #e9e8ee;
    text-align: justify;
    font-size: 1.5rem;
}

.images {
    margin: 10rem 0;
    display: flex;
    justify-content: space-around;
}

.images img {
    transition: transform 0.5s ease;
}

.images a.active {
    transform: scale(2);
}

.images img:hover {
    transform: scale(1.2);
}